.list-header {
  display: flex;
  height: 30px;
  position: relative;
  align-items: center;
  color: #678796;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  flex-direction: row;
  margin: 20px 0px 20px 0px;
  padding: 0px 10px;
}
.card-view-header {
  display: flex;
  height: 30px;
  text-align: center;
  width: 100%;
  position: relative;
  align-items: center;
  color: #678796;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}
#root > div > div.card-view-header > div > p {
  margin-left: 10px;
}
.header-checkbox {
  margin-left: 10px;
}
.list-header-breaker {
  width: 9%;
}
.header-name {
  width: 18%;
}
.header-email {
  width: 27%;
}
.header-phone {
    width: 17%;
}
.header-profession {
    width: 15%;
}
.filter {
  margin-left: 170px;
}
.filter-alphabetically {
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1268px) {
    .list-header-breaker {
        width:12%;
      }
    .header-name {
        width: 25%;
      }
      .header-email {
        width: 38%;
      }
      .header-phone {
          width: 24%;
      }
      .header-profession {
          width: 12%;
      }
  }
  
  @media (max-width: 1090px) {
    .list-header-breaker {
        width:13%;
      }
      .header-name {
        width: 25%;
      }
      .header-email {

      }
      .header-phone {
          width: 20%;
      }
      .header-profession {
          width: 9%;
      }
   
  }
  