.list-item-container {
  display: flex;
  flex-direction: row;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  font-size: 18px;
  margin: 20px 20px 20px 20px;
  border-radius: 15px;
  justify-content: space-between;
  padding: 10px;
}
.checked {
  background-color: rgb(152 184 203 / 23%);
}
.list-item-container > input[type="checkbox"] {
  margin-left: 10px;
}
.list-item-container > div:nth-child(2) {
  width: 5%;
}
.list-item-container > div:nth-child(3) {
  width: 20%;
}
.list-item-container > div:nth-child(4) {
  width: 25%;
}

.list-item-container > div:nth-child(5) {
  width: 15%;
}

.list-item-container > div:nth-child(6) {
  width: 20%;
}

.list-item-container > svg:nth-child(7) {
  width: 5%;
}
.list-item-container > input[type="text"] {
  width: 3%;
}
.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.check,
.edit,
.delete {
  margin-left: 20px;
  cursor: pointer;
}
.check:hover {
  color: rgb(48, 48, 48);
}
.edit:hover {
  color: rgb(48, 48, 48);
}
.delete:hover {
  color: rgb(48, 48, 48);
}
.swal-text {
  text-align: center;
}
.firstName-inline {
  width: 10% !important;
}
.lastName-inline {
  width: 10.5% !important;
}
.email-inline {
  width: 29.5% !important;
}

.profession-inline {
  width: 15% !important;
}

/* inputs */

.firstName-inline input {
  width: 120px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  font-size: 14px;
}
.lastName-inline input {
  width: 120px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  font-size: 14px;
}
.email-inline input {
  width: 300px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  font-size: 14px;
}
.phone-inline input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  font-size: 14px;
}
.profession-inline input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  height: 30px;
  font-size: 14px;
}

@media (max-width: 991px) {
  .list-item-container {
    height: 70px;
  }
  .avatar-img {
    width: 50px;
    border-radius: 50%;
  }
  .list-item-container > div:nth-child(3) {
    font-size: 16px;
  }

  .list-item-container > div:nth-child(4) {
    font-size: 16px;
  }

  .list-item-container > div:nth-child(5) {
    font-size: 16px;
  }

  .list-item-container > div:nth-child(6) {
    font-size: 16px;
  }

  .list-item-container > svg:nth-child(7) {
    font-size: 16px;
  }
  .list-item-container > input {
    width: 3%;
  }
}
