body {
  background-color: #f4f8f9;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #306fcd;
  border-color: #306fcd;
  box-shadow: inset 0 0 0px 4px white;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: #306fcd;
  border-color: #306fcd;
  box-shadow: inset 0 0 0px 5px white;
}
.lds-dual-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(254, 254, 254, 0.234);
}
.lds-dual-ring:after {
  content: " ";
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 132, 255);
  border-color: rgb(0, 132, 255) transparent rgb(0, 132, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
.container-home {
  width: 100%;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
