.settings-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
}
.edit-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.edit-type > input {
  margin-left: 50px;
}
.page-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-edit {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: center;
}
.settings-page-heading {
  font-size: 50px;
  font-weight: 700;

  margin-top: 10px;
}
.settings-page-container > span {
  color: rgb(81, 82, 83);
  font-size: 17px;
}
.add-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
}
.inline-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-add {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: center;
}
.contacts-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.card-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-view {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  align-items: center;
}
.settings-toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  width: 400px;
  padding: 50px;
  background-color: #27aaf9;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.settings-heading {
  color: #000000;
  text-transform: uppercase;
}
.settings-toggles label {
  color: rgba(255, 255, 255, 0.93);
}
.settings-buttons {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.settings-buttons button {
  padding: 10px;
  background-color: rgb(230, 230, 230, 0.8);
  border-radius: 20px;
  width: 100px;
  transition: 0.3s ease-in-out;
}
.settings-buttons button:hover {
  background-color: rgb(230, 230, 230, 1);
}
