

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c5c5c5;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app-wrapper{
  width: 85%;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.navigation {
  display: flex;
  width: 100%;
  font-size: 20px;
  justify-content: space-between;
  margin-top: 20px;
}
.nav-right{
  display: flex;
  flex-direction: row;
  gap: 40px;
}
a {
  text-decoration: none;
  color: #756cc0;
}
