body {
  background-color: #f4f8f9;
}
.container {
  width: 100%;
  overflow-x: hidden;
}
.edit-modal-bg {
  z-index: 4443;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  background-color: rgba(164, 167, 166, 0.67);
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background-color: rgb(0, 0, 0);
  border-color: white;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #27aaf9;
  border-color: #27aaf9;
}
