.card-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.card{
    display: flex;
    background-color: #0281d1;
    width: 29%;
    align-items: center;
    height: 400px;
    flex-direction: column;
    padding-top: 30px;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.444);
    border-radius: 10px;
    word-break: break-all;
    text-align: center;
    
}
.card-avatar-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.card-name{
    text-transform: capitalize;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-weight: 600;
}
.card-email{
    font-size: 15px;
    color: #e1e1e1;
    margin-top: 10px;
}
.card-phone{
    font-size: 15px;
    color: #e1e1e1;
    margin-top: 10px;
}
.card-profession{
    font-size: 15px;
    color: #e1e1e1;
    margin-top: 10px;
}
.card-edit-btns{
    margin-top: 10px;
}
.card-edit{
    font-size: 20px;
    cursor: pointer;
    color: rgb(21, 21, 21);
}
.card-edit:hover{
    color: rgb(48, 48, 48);
}
.card-delete{
    margin-left: 22px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(21, 21, 21);
}
.card-delete:hover{
    color: rgb(48, 48, 48);
}
.card-checkbox{
    margin-top: 10px;
    
}


@media (max-width: 1100px) {
    .card-name{
        font-size: 20px;

    }
    .card-email{
        font-size: 14px;
        color: #e1e1e1;
        margin-top: 10px;
    }
}

@media (max-width: 860px) {
    .card-items{
        width: 100%;
    }
    .card{
        width: 45%;
    }
}
@media (max-width: 440px) {
    .card{
        width: 100%;
    }
}