.settings-page-container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.edit-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:10px;
}
.inline-edit{
    display: flex;
    flex-direction: column;
}
.modal-edit{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.settings-page-heading{
    font-size: 50px;
    font-weight: 700;
    
    margin-top: 10px;

}
.settings-page-container > span{
    color: rgb(81, 82, 83);
    font-size: 17px;
}
.add-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.inline-add{
    display: flex;
    flex-direction: column;
}
.modal-add{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.contacts-view{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.card-view{
    display: flex;
    flex-direction: column;
}
.list-view{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.settings-toggles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 400px;
    padding: 50px;
    background-color: #27AAF9;
    border-radius: 10px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.settings-heading{
    color: #000000;
    text-transform: uppercase;
}
.settings-toggles label{
    color: rgba(255, 255, 255, 0.93);
}