@media (max-width: 820px) {
  .h-screen {
    min-height: 0px;
    height: 70px !important;
    width: 100vw;
  }
  .flex {
    flex-direction: column;
  }
  .pt-8 {
    padding: 15px;
  }
  .pt-6 {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    right: 0;
    margin-top: -5px;
    
  }
  #root > div > div.w-20.bg-dark-purple.h-screen.p-5.pt-8.relative.duration-300 > ul > a > li{
    margin-right: 10px;
  }
  .items-center {
    align-items: inherit;
  }
  .mt-9 {
    margin-top: 0;
  }
  .text-sm {
    font-size: 0.999rem;

}
  #root
    > div
    > div.w-20.bg-dark-purple.h-screen.p-5.pt-8.relative.duration-300
    > img {
    display: none;
  }
  .mt-2 {
    margin-top: 0;
  }
}
